/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/* UTILITIES */
.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

.flex{
  display: flex;
}

.button{
  display: inline-block;
  background-color: white;
  color: black;
  padding: .4rem .7rem;
  border-radius: 1rem;
}
/* HEADER */
.header-top {
  height: 5rem;
  background-color: #255ee9;
  display: flex;
  align-items: center;
}

/* NAVIGATION */
.navigation {
  color: white;
  padding: 1rem;
  flex-direction: row;
  min-height: 40px;
  justify-content: space-between;
}

.navigation li{
  padding: .5rem;
}

.header-logo {
  width: 20%;
}

.link-list {
  list-style-type: none;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}

.header-actions {
  text-align: right;
  width: 20%;
}

.hero-content {
  text-align: center;
  color: white;
}

/* HERO */
.hero {
  padding: 6rem 0;
  background-image: url(../img/jumbo.png);
  background-size: cover;
  background-position: center left;
}

.hero-content {
  width: 60%;
  margin: 0 auto;
}


.title {
  margin-bottom: 2rem;
  font-size: 3rem;
  padding: 1rem 0;
}

.hero-content p{
  padding: 0 2rem;
  font-size: 1.45rem;
  text-align: center;
  font-weight: 300;
}

.hero-button{
  text-align: center;
}

.download {
  margin: 2rem 1rem;
  padding: 0.8rem 1rem;
}

.open-on-browser {
  margin: 2rem 1rem;
  background-color: #23272a;
  color: white;
  padding: 0.8rem 1rem;
}
/* MAIN */

/* WHITE-BG */
.wrap{
padding: 3rem 0;
}

.first-slide {
  padding: 1rem 0;
}

/* 3-SECTION */
.col1 {
  width: 60%;
}

.col2{
  width: 40%;
}

.col2 h2 {
  padding-top: 2.5rem;
  font-size: 3rem;
}

.col2 p {
  padding-top: 2.5rem;
  font-size: 1.3rem;
  font-weight: 300;
}

.second-slide{
  background-color: #D3D3D3;
  padding: 1rem 0;
}

/* BIG SLIDE */
.square{
  text-align: center;
}

.square h2 {
  padding-top: 1.5rem;
  font-size: 3rem;
}
.square p {
  padding-top: 2.5rem;
  font-size: 1.3rem;
}

.square img{
  width:100%;
}

/* STAR SELECTION */
.content-star-slide{
  text-align: center;
  background-image: url(../img/stars.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 50%;
  margin: 0 auto;
}

.content-star-slide h3 {
  font-size: 1.5rem;
  padding: 1.5rem;
}

.download-on-mac {
  padding-bottom: 5rem;
  padding-top: 2rem;
}

.blue-button{
  background-color: #7289da;
  color: white;
  font-size: 1.5rem;
  padding: 0.4rem 0.6rem;
}
/* FOOTER */
footer {
  background-color: #23272a;
}

.footer-top {
  padding-bottom: 1.2rem;
}

.main-column {
  width: 30%;
}

.menu-column {
  width: 70%;
  display: flex;
}
/* FOOTER MAIN COL */
.main-column h4 {
  font-size: 1.9rem;
  padding-top: 1.7rem;
  color: #7289da;
}

.main-column img{
  width: 2rem;
}

.under-h4{
  margin: 2rem 0 2rem 0;
  color: white;
}

.under-h4 span {
  font-size: 1.4rem;
  padding: 0 .2rem;
}

.social{
  flex-direction: row;
  list-style-type: none;
  gap: 1rem;
  font-size: 1.5rem;
  color: white;
}

.padding{
  padding: .4rem;
}

/* FOOTER MENU */
.footer-menu {
  width: calc(100% / 4);
}

.link-list-footer{
  list-style-type: none;
  flex-direction: column;
  color: white;
}

h5{
  font-size: 1.2rem;
  padding-top: 1.5rem;
  color: #7289da;
}

.link-list-footer li {
  margin: .5rem 0;
}


/* FOOTER BOTTOM */

.container .footer-bottom{
  padding-bottom: 2rem;
  padding-top: 1rem;
  border-top: 1px solid #4f5d8c;
}

.footer-bottom{
  justify-content: space-between;
}

.footer-button {
  background-color: #7289da;
  color: white;
}